.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#0f172a;
    color:white;
    }
    
    .logo{
    font-size:24px;
    font-weight:bold;
    }
    
    .menu{
    display:flex;
    list-style:none;
    gap:30px;
    }
    
    .menu li{
    position:relative;
    cursor:pointer;
    }
    
    .dropdown{
    position:absolute;
    top:30px;
    left:0;
    background:white;
    color:black;
    list-style:none;
    padding:10px;
    border-radius:6px;
    width:180px;
    }
    
    .dropdown li{
    padding:8px;
    }
    
    .dropdown li:hover{
    background:#f1f1f1;
    }